<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-restaurant-heading"
        data-cy="RestaurantCreateUpdateHeading"
        jhiTranslate="restauranteApp.restaurant.home.createOrEditLabel"
      >
        Create or edit a Restaurant
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="restauranteApp.restaurant.name" for="field_name">Name</label>
          <input type="text" class="form-control" name="name" id="field_name" data-cy="name" formControlName="name" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="restauranteApp.restaurant.description" for="field_description">Description</label>
          <input
            type="text"
            class="form-control"
            name="description"
            id="field_description"
            data-cy="description"
            formControlName="description"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="restauranteApp.restaurant.address" for="field_address">Address</label>
          <input type="text" class="form-control" name="address" id="field_address" data-cy="address" formControlName="address" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="restauranteApp.restaurant.phone" for="field_phone">Phone</label>
          <input type="text" class="form-control" name="phone" id="field_phone" data-cy="phone" formControlName="phone" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="restauranteApp.restaurant.xTablePositions" for="field_xTablePositions"
            >X Table Positions</label
          >
          <input
            type="number"
            class="form-control"
            name="xTablePositions"
            id="field_xTablePositions"
            data-cy="xTablePositions"
            formControlName="xTablePositions"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="restauranteApp.restaurant.yTablePositions" for="field_yTablePositions"
            >Y Table Positions</label
          >
          <input
            type="number"
            class="form-control"
            name="yTablePositions"
            id="field_yTablePositions"
            data-cy="yTablePositions"
            formControlName="yTablePositions"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="restauranteApp.restaurant.menu" for="field_menu">Menu</label>
          <select class="form-control" id="field_menu" data-cy="menu" name="menu" formControlName="menu">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="menuOption.id === editForm.get('menu')!.value?.id ? editForm.get('menu')!.value : menuOption"
              *ngFor="let menuOption of menusCollection; trackBy: trackMenuById"
            >
              {{ menuOption.id }}
            </option>
          </select>
        </div>

        <div class="form-group">
          <label jhiTranslate="restauranteApp.restaurant.user" for="field_users">User</label>
          <select class="form-control" id="field_users" data-cy="user" multiple name="users" formControlName="users">
            <option
              [ngValue]="getSelectedUser(userOption, editForm.get('users')!.value)"
              *ngFor="let userOption of usersSharedCollection; trackBy: trackUserById"
            >
              {{ userOption.id }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
