<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-restaurant-order-heading"
        data-cy="RestaurantOrderCreateUpdateHeading"
        jhiTranslate="restauranteApp.restaurantOrder.home.createOrEditLabel"
      >
        Create or edit a Restaurant Order
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="restauranteApp.restaurantOrder.date" for="field_date">Date</label>
          <div class="d-flex">
            <input
              id="field_date"
              data-cy="date"
              type="datetime-local"
              class="form-control"
              name="date"
              formControlName="date"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="restauranteApp.restaurantOrder.priceExcludingTax" for="field_priceExcludingTax"
            >Price Excluding Tax</label
          >
          <input
            type="number"
            class="form-control"
            name="priceExcludingTax"
            id="field_priceExcludingTax"
            data-cy="priceExcludingTax"
            formControlName="priceExcludingTax"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="restauranteApp.restaurantOrder.priceIncludingTax" for="field_priceIncludingTax"
            >Price Including Tax</label
          >
          <input
            type="number"
            class="form-control"
            name="priceIncludingTax"
            id="field_priceIncludingTax"
            data-cy="priceIncludingTax"
            formControlName="priceIncludingTax"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="restauranteApp.restaurantOrder.user" for="field_user">User</label>
          <select class="form-control" id="field_user" data-cy="user" name="user" formControlName="user">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="userOption.id === editForm.get('user')!.value?.id ? editForm.get('user')!.value : userOption"
              *ngFor="let userOption of usersSharedCollection; trackBy: trackUserById"
            >
              {{ userOption.id }}
            </option>
          </select>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="restauranteApp.restaurantOrder.restaurantTable" for="field_restaurantTable"
            >Restaurant Table</label
          >
          <select
            class="form-control"
            id="field_restaurantTable"
            data-cy="restaurantTable"
            name="restaurantTable"
            formControlName="restaurantTable"
          >
            <option [ngValue]="null"></option>
            <option
              [ngValue]="
                restaurantTableOption.id === editForm.get('restaurantTable')!.value?.id
                  ? editForm.get('restaurantTable')!.value
                  : restaurantTableOption
              "
              *ngFor="let restaurantTableOption of restaurantTablesSharedCollection; trackBy: trackRestaurantTableById"
            >
              {{ restaurantTableOption.id }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
